html {font-size: 100%;}
body {
  font-family: 'Fira Mono', monospace;
  font-size: .8em;
  color: rgb(157, 165, 180);
  background-color: rgb(33, 37, 43);
  margin: 0;
}

.mainPage {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
/*TODO implement 'responsive design'. As screen gets narrower, progressively:
- replace sortBar with single button
- show either postsList, either DetailsContainer, adding a button to come back to postsList view

.*/

.postsContainer {
  order: 1;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
}

.detailsContainer {
  order: 2;
  min-width: 40%;
  /*min-width: 450px;*/
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  justify-content: space-around;
  padding: 3px;
  margin: 3px;
  border-style: solid;
  border-width: thin;
  border-color: black;
}

.categories {
  order: 11;

  display: flex;
  color: rgb(157, 165, 180);
  border-bottom-color: rgb(33, 37, 43);
  border-bottom-style: solid;
  border-bottom-width: thick;

}

.postsList {
  order: 31;
}

.button {
  font-family: 'Fira Mono', monospace;
  font-size: 1em;
  /*two lines above because of webkit issue on mac: https://stackoverflow.com/questions/21657379/css-button-font-size-doesnt-work*/
  flex: auto;
  background-color: transparent;
  border-style: solid;
  border-width: thin;
  color: rgb(157, 165, 180);
  border-color: rgb(192,192,192);
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  margin: 3px;
}

.button:focus {
    outline: none !important;
    box-shadow: 0 0 10px #719ECE;
}

.inactive_button {
  background-color: transparent;
  color: black;
  border-color: black;
}

.formItem {
  display: flex;
  flex-flow: row wrap;
}

/*.formLabel {
  order: 100;
}*/

.formInput {
  order: 200;
  border-color: black;
  /*color should be like .defaultMessage! */
}

.errorMessage {
  order: 300;
  color: rgb(190, 80, 70);
}

.postsToolbar{
  order: 50;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.defaultMessage {
  color: rgba(157, 165, 180, 0.2);
  padding: 5%;
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
}

.details {
  order: 12;
  padding: 10%;
  color: rgb(157, 165, 180);
  /*max-width: 50%;*/
}

.commentsList {
  order: 32;
  /*border-top-color: rgb(24, 26, 31);
  border-top-style: solid;
  border-top-width: medium;*/
  margin-top: 0.2em;
}

.newCommentForm {
    order: 40;
    display: flex;
    flex-flow: row wrap;
    padding-top: 0.5em;
}

.formFields {
  order: 1;
  flex-grow: 1;
}

.commentsToolbar{
  order: 2;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.sortBar{
  order: 20;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

  .sortBarTag{
    background-color: rgb(33, 37, 43);
    border-style: solid;
    border-width: thin;
    text-align: center;
    text-decoration: none;
    margin: 3px;
  }
  .sortBarTag:focus {
    outline: none !important;
    box-shadow: 0 0 10px #719ECE;
  }

  .columnContent{
    padding: 0 1em;
  }

  .columnLabel{
    white-space: pre;
    border-color: transparent !important;
  }

  .category {
    order: 1;
    /*flex-basis: 0;*/
    color: rgb(190, 80, 70);
    border-color: rgb(190, 80, 70);
  }

  .author {
    order: 2;
    /*flex-basis: 0;*/
    color: rgb(86, 182, 194);
    border-color: rgb(86, 182, 194);
  }

  .timestamp {
    order: 3;
    /*flex-basis: 0;*/
    color: rgb(152, 195, 121);
    border-color: rgb(152, 195, 121);
  }

  .commentsCount {
    order: 4;
    /*flex-basis: 0;*/
    color: rgb(97, 175, 239);
    border-color: rgb(97, 175, 239);
  }

  .voteScore {
    order: 5;
    color: #c678dd;
    border-color: #c678dd;
  }

.selected {
  color: rgb(190, 80, 70);
  border-color: rgb(190, 80, 70);
}

.showDetails {
  background-color: #3a3f4b;
}

.post {
  display: flex;
  flex-flow: column nowrap;
  padding: 0.5em;
  border-bottom-color: rgb(24, 26, 31);
  border-bottom-style: solid;
  border-bottom-width: medium;
}

.post:focus {
  outline: none !important;
  box-shadow: 0 0 10px #719ECE;
}

.title {
  order: 10;
  color: rgb(209, 154, 102);    /* marron des titres css */
  font-weight: bold;
  padding-bottom: 0.2em;
}

.content {
  color: rgb(157, 165, 180);
}

.count {
  color: rgb(190, 80, 70);
}

.infoLabels{
  order: 20;
  display: flex;
  flex-flow: row wrap;
  /*justify-content: space-between;*/
}

.passiveLabels{
  order: 100;
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  justify-content:space-between;
}

.failedValidation {
  /*border-color: rgb(190, 80, 70);*/
  border-left: 8px solid rgb(190, 80, 70);
}

.passedValidation {
  border-left: 8px solid black;
}

.voteMachine{
  order: 200;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  /*justify-content: center;*/
}

.voteMinus {
  order: 10;
}

.voteDigit {
  order: 20;
  margin: 1px;
  padding: 1px;
  min-width: 2em;
  color: #c678dd;
}

.votePlus {
  order: 30;
}

.voteButton {
  background-color: transparent;
  border-style: solid;
  border-width: thin;
  color: #c678dd;
  border-color: #c678dd;
  text-align: center;
  text-decoration: none;
  margin: 3px;
}
.voteButton:focus {
  outline: none !important;
  box-shadow: 0 0 10px #719ECE;
}

/*
color: rgb(190, 80, 70);    rouge bordeaux
rgb(152, 195, 121)          vert des strings
rgb(198, 120, 221);         violet des import
rgb(86, 182, 194);      the green of rgb
rgb(97, 175, 239);      bleu ciel
#c678dd;              purple of TODO, BUG
gb(24, 26, 31);
background-color: #21252b;      // page background color
background-color: #d7dae0;    // very bright almost white
background-color: #9da5b4;      // grey not so bright
#3a3f4b;                      // selected post
*/
