html {font-size: 100%;}
body {
  font-family: 'Fira Mono', monospace;
  font-size: .8em;
  color: rgb(157, 165, 180);
  background-color: rgb(33, 37, 43);
  margin: 0;
}

.mainPage {
  display: flex;
  flex-direction: column;

  /*margin: auto;*/
}

.postsContainer {
  order: 1;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
}

.detailsContainer {
  order: 2;
  margin: auto;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  justify-content: space-around;
}

.categories {
  order: 11;
  justify-content: space-between;
  color: rgb(157, 165, 180);
  border-bottom-color: rgb(33, 37, 43);
  border-bottom-style: solid;
  border-bottom-width: thick;
  width: 100%;
}

.button {
    background-color: rgb(33, 37, 43);
    border-style: solid;
    border-width: thin;
    color: rgb(157, 165, 180);
    border-color: rgb(192,192,192);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    width: 140px;
    margin: 3px;
}

.button:focus {
    outline: none !important;
    box-shadow: 0 0 10px #719ECE;
}

.inactive_button {
  background-color: transparent;
  color: black;
  border-color: black;
}

.voteButton {
  order: 200;
  background-color: rgb(33, 37, 43);
  border-style: solid;
  border-width: thin;
  color: #c678dd;
  border-color: #c678dd;
  /*padding: 5px 10px;*/
  text-align: center;
  text-decoration: none;
  /*width: 140px;*/
  /*margin: 3px;*/
}
.voteButton:focus {
    outline: none !important;
    box-shadow: 0 0 10px #719ECE;
}

/*.contentContainer{
  order: 2;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}*/


.postsToolbar{
  order: 51;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.defaultMessage {
  color: rgba(157, 165, 180, 0.2);
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
}

.details {
  order: 12;
  background-color: #3a3f4b;
  padding: 30px 30px;
  color: rgb(157, 165, 180);
  border-top-color: rgb(24, 26, 31);
  border-top-style: solid;
  border-top-width: medium;
  border-bottom-color: rgb(24, 26, 31);
  border-bottom-style: solid;
  border-bottom-width: medium;
}

.comments {
  order: 32;
  border-top-color: rgb(24, 26, 31);
  border-top-style: solid;
  border-top-width: medium;
}

.newCommentForm {
    order: 40;
}

.commentsToolbar{
  order: 52;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

.sortBar{
  order: 20;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

  .sortBarTag{
    background-color: rgb(33, 37, 43);
    border-style: solid;
    border-width: thin;
    text-align: center;
    text-decoration: none;
    margin: 3px;
  }
  .sortBarTag:focus {
    outline: none !important;
    box-shadow: 0 0 10px #719ECE;
  }

  .columnContent{
    padding: 0 1em;
  }

  .columnLabel{
    white-space: pre;
  }

  .category {
    order: 1;
    /*flex-basis: 0;*/
    color: rgb(190, 80, 70);
    border-color: rgb(190, 80, 70);
  }

  .author {
    order: 2;
    /*flex-basis: 0;*/
    color: rgb(86, 182, 194);
    border-color: rgb(86, 182, 194);
  }

  .timestamp {
    order: 3;
    /*flex-basis: 0;*/
    color: rgb(152, 195, 121);
    border-color: rgb(152, 195, 121);
  }

  .commentsCount {
    order: 4;
    /*flex-basis: 0;*/
    color: rgb(97, 175, 239);
    border-color: rgb(97, 175, 239);
  }

  .voteScore {
    order: 500;
    /*flex-basis: 0;*/
    color: #c678dd;
    border-color: #c678dd;
  }

.selected {
  color: rgb(190, 80, 70);
  border-color: rgb(190, 80, 70);
}

.showDetails {
  background-color: #3a3f4b;
}

.formField {
  background-color: rgb(33, 37, 43);
  color: rgb(157, 165, 180);
  border-style: solid;
  border-width: thin;
}

.post {
  display: flex;
  flex-flow: column nowrap;
  padding: 0.5em;
  border-bottom-color: rgb(24, 26, 31);
  border-bottom-style: solid;
  border-bottom-width: medium;
}

.post:focus {
  outline: none !important;
  box-shadow: 0 0 10px #719ECE;
}

.title {
  order: 10;
  color: rgb(209, 154, 102);    /* marron des titres css */
  font-weight: bold;
  padding-bottom: 0.2em;
}

.content {
  color: rgb(157, 165, 180);
}

.count {
  color: rgb(190, 80, 70);
}

.infoLabels{
  order: 20;
  display: flex;
  flex-flow: row wrap;
  /*justify-content: space-between;*/
}

.passiveLabels{
  order: 100;
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  justify-content:space-between;
}

.w100 {
  width: 100%;
}

.errorMessage {
  color: rgb(190, 80, 70);
}

.redBorder {
  border-color: rgb(190, 80, 70);
}

.voteContainer{
  display: flex;
  flex-flow: row nowrap;
}

.voteElement{
  padding: 0 1em;
}

/*
color: rgb(190, 80, 70);    rouge bordeaux
rgb(152, 195, 121)          vert des strings
rgb(198, 120, 221);         violet des import
rgb(86, 182, 194);      the green of rgb
rgb(97, 175, 239);      bleu ciel
#c678dd;              purple of TODO, BUG
gb(24, 26, 31);
background-color: #21252b;      // page background color
background-color: #d7dae0;    // very bright almost white
background-color: #9da5b4;      // grey not so bright
#3a3f4b;                      // selected post
*/
