html {font-size: 100%;}
body {
  margin: 0;
  padding: 0;
  font-family: 'Fira Mono', monospace;
  font-size: .8em;
  color: rgb(157, 165, 180);
  background-color: rgb(33, 37, 43);
}

.button {
    background-color: rgb(33, 37, 43);
    border-style: solid;
    border-width: thin;
    color: rgb(157, 165, 180);
    border-color: rgb(192,192,192);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    /*font-size: 1em;*/
    width: 140px;
    margin: 3px;
}

.button:focus {
    outline: none !important;
    box-shadow: 0 0 10px #719ECE;
}

.inactive_button {
  background-color: transparent;
  color: black;
  border-color: black;
}

/*  - - - - - - - - - - - - - - - - - - - - - - - - -*/

.mainPage {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
  margin: auto;
}

/*  - - - - - - - - - - - - - - - - - - - - - - - - -*/

.categories {
  order: 1;
  background-color: rgb(33, 37, 43);
  color: rgb(157, 165, 180);
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: thick;
}

.postsContainer {
  order: 2;
  color: rgb(171, 178, 191);
}

.detailsContainer {
  order: 3;
  align-self: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  justify-content: space-around;
  margin: auto;
}

/* categoriesContainer - - - - - - - - - - - - - - - - - - - - - -*/

.postsToolbar{
  order: 3;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

/* postsContainer - - - - - - - - - - - - - - - - - - - - - - -*/

.listSortbar {
  order: 1;
}

.defaultMessage {
  color: black;
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
}

/* detailsContainer - - - - - - - - - - - - - - - - - - - - - */

.details {
  order: 10;
  background-color: rgb(24, 26, 31);
  color: rgb(157, 165, 180);
  border-top-color: rgb(24, 26, 31);
  border-top-style: solid;
  border-top-width: medium;
  border-bottom-color: rgb(24, 26, 31);
  border-bottom-style: solid;
  border-bottom-width: medium;
}

.comments {
  order: 20;
  /*background-color: rgb(24, 26, 31);*/
  /*color: rgb(157, 165, 180);*/
  border-top-color: rgb(24, 26, 31);
  border-top-style: solid;
  border-top-width: medium;
}

.newCommentForm {
    order: 30;
}

.commentsToolbar{
  order: 40;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.selected {
  background-color: rgb(190, 80, 70);
}

.showDetails {
  background-color: rgb(24, 26, 31);
}

.formLabel {
  /*font-size: 1.6em;*/
}

.formField {
  background-color: rgb(33, 37, 43);
  color: rgb(157, 165, 180);
  border-style: solid;
  border-width: thin;
  /*font-size: 1.6em;*/
}

.post {
  border-bottom-color: rgb(24, 26, 31);
  border-bottom-style: solid;
  border-bottom-width: medium;
}

.post:focus {
  outline: none !important;
  box-shadow: 0 0 10px #719ECE;
}

.title {
  color: rgb(209, 154, 102);    /* marron des titres css */
  font-weight: bold;
  /*font-size: 1.4em;*/
}

.content {
  color: rgb(157, 165, 180);
}

.count {
  color: rgb(190, 80, 70);
}

.infoLabels{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.author {
  order: 10;
  color: rgb(86, 182, 194);
}

.timeStamp {
  order: 20;
  color: rgb(152, 195, 121);
}

.voteScore {
  order: 30;
  color: rgb(97, 175, 239);
}

.w100 {
  width: 100%;
}

.errorMessage {
  color: rgb(190, 80, 70);
}

.redBorder {
  border-color: rgb(190, 80, 70);
}

.newPostForm {

}

/*color: rgb(190, 80, 70);    rouge bordeaux
rgb(152, 195, 121)          vert des strings
rgb(198, 120, 221);         violet des import
rgb(86, 182, 194);      the green of rgb
rgb(97, 175, 239);      bleu ciel
  */
